body{
    margin: 1%;
}
.navbar{
    background-color: red;
    display: flex;
    border: 5px solid black ;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0%;
    }
.navbar ul{
display: flex;
gap: 40px;
list-style: none;
color: antiquewhite;

}
.navbar ul li{
    background-color: black;
    padding: 8px;
    border-radius: 6px;
    
}
